<h1>Collection: <%= @collection.name %></h1>
<h3>By: <a href="/users/<%= @collection.user.slug %>"><%= @collection.user.username %></a></h3>
<h2>Description: <%= @collection.description %></h2>
<h2>Items</h2>
<% @collection.items.each do |item| %>
  <h3><a href="/items/<%= item.slug %>"><%= item.name %></a></h3>
<% end %>
<h4>Click here to edit your collection.</h4>
<form action="/collections/<%= @collection.slug %>/edit" method="GET">
  <input type="submit" value="Edit this collection">
</form>
<h4>Or <a href="/collections">Click here</a> to return to your homepage.</h4>
<h4>Or click here to delete your collection.</h4>
<form action="/collections/<%= @collection.slug %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete this collection">
</form>